.title {
    font-size: 25px;
    text-align: center!important;
    /* margin: auto; */
}
.predict-class {
    min-width: 150px!important;
    min-height: 150px!important;
    max-height: 150px!important;
    max-width: 150px!important;
}
